*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*a{
    text-decoration: none;
}
*::selection{
    background-color: #84f094;
    color: white; /* Set the text color to white for better visibility */
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    transition: all ease 1s;
}
#main{
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    background-color: #fcfaf8;
}

.loader{
    height: 100vh;
    width: 100%;
    z-index: 999;
    overflow: hidden;
    position: absolute;
    background-color: rgb(0, 0, 0);
}
.toploader{
    position: absolute;
    top: 3vh;
    left: 50%;
    top: 5%;
    transform: translate(-50%,0);
    overflow: hidden;
}
.loader .toploader h3{
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    position: relative;
}
.loader .centerloader{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translate(-50%,-50%);
}

.loader .centerloader{
    font-size: 2.8vw;
    gap: 10px;
}
.loader .centerloader span{
    position: relative;
}
.loader .centerloader span:first-child{
    font-family: "MAZIUS REVIEW 20.09 Extra";
    color: #14cf93;
}
.centerloader h1{
    font-size: 3rem;
}
.bottomloader{
    position: absolute;
    bottom: 30px;
    left: 50%;
    overflow: hidden;
}
.green{
    position: absolute;
    width: 100%;
    bottom: 0%;
    height: 0;
    overflow: hidden;
    z-index: 99;
    background-color: #14cf93;
}
#home nav a{
    color: #565555;
    text-transform: capitalize;
    text-decoration: none;
}
#home{
    width: 100%;
    background-color: #fcfaf8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#home nav {
    /* background-color: rgb(55, 36, 36); */
    z-index: 99;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 100;
    padding-top: 2vw;
    position: fixed;
    width: 100%;
}
.link1{
    margin-top: 20px;
    text-align: center;
    width: auto;
    font-size: .9rem;
    font-weight: 100;
    position: relative;
}
.link1 a{
    position: relative;
    z-index: 4;
}
.line2{
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    transition: width 1s ease;
    background-color: black;
}
.line2{
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    transition: width 1s ease;
    background-color: black;
}
.line1{
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: width 1s ease .2s;
    background-color: black;
}
.link1:hover .line2{
    width: 0;
}
.link1:hover .line1{
    width: 100%;
}
.web{
    width: 80%;
    height: 60vh;
    padding-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.developer{
    width: 100vw;
    font-family:"Gilroy";
    overflow: hidden;
    color: #383838;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 50px;
    /* background-color: red; */
}
.developer h1{
    width: auto;
    font-size: 7rem;
    position: relative;
    /* bottom: 0; */
}
.weblogo {
    width: 25em; /* You can use any desired value and unit */
    height: 18em;
    z-index: 3;
    background-color: transparent;
    position: relative;
}
@media only screen and (max-width: 768px) {
    #profile .skills{
        height: 70vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .abovetop h1{
        text-align: center;
        margin-bottom: 10px;
    }
    footer{
        font-size: .8rem;
    }
    .first-line{
        font-size: 2rem;
    }
    .second-line{
        font-size: 2rem;
    }
    nav .link3{
        display: none;
    }
    #text1{
        font-size: 5rem;
        font-family: 'Sequel','Gilroy ☞','MAZIUS REVIEW 20.09 Extra',sans-serif;
        
    }
    #text2{
        font-size: 4rem;
        font-family: 'Sequel','Gilroy ☞','MAZIUS REVIEW 20.09 Extra',sans-serif;
    }
    #profile .About{
        width: 100vw;
        height: 70vh;
        padding: 0 14px;
        display: flex;
        align-items: center;
        transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
        flex-wrap: wrap;
    }
    .skillstop h1{
        margin-bottom: 20px;
        position: relative;
        text-align: center;
    }
    .developer h1 {
        width: auto;
        /* background-color: red; */
        font-size:4rem;
        position: relative;
    }
    .mouse1{
        display: none;
    }
    .developer{
        position: relative;
        top: -20vh;
    }
    .mouse{
        opacity: 0;
    }
    #main #projects{
        cursor: pointer;
    }
    .weblogo {
        width: 17em; /* You can use any desired value and unit */
        height: 12em;
        z-index: 3;
        background-color: transparent;
        position: relative;
    }
    .link1 a{
        font-size: 8px;
        z-index: 4;
    }
    .go_down{
        width: 100%;
        justify-content: center;
        position: relative;
        top: 20vh;
        /* background-color: red; */
    }
    .down i{
        font-size: .5rem;
    }
    .go_down .down{
        height: 30px;
        width: 30px;
    }
    .go_down .info{
        font-size: .7rem;
    }
    #projects .pack{
        display: block;
        overflow: hidden;
    }
    .pack .cnt,.pack1 .cnt3{
        height: 50vh;
        width: 80vw;
        margin: 3vh auto;
    }
    #projects .pack1{
        height: 55vh;
    }
    .pack .cnt2{
        height: 44vh;
        width: 78vw;
        margin: 0 auto;
    }
    .letstalk{
        width: 80vw;
    }
    #main #svg-container{
        position: relative;
        top: 10vh;
        /* background-color: red; */
        left: 6vh;
        align-items: center;
        justify-content: center;
    }
    #download_cv #download-cv{
        height: 34px;
        width: 100px;
        font-size: 9px;     
        
    }
    .svg-wrapper{
        visibility: hidden;
    }
    .cnt2 .cnt_info{
        position: relative;
        bottom: 18vh;
        left: 4vw;
        background-color: red;
        height: 30px;
        width: 110px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: none;
        font-size: 1rem;
        overflow: hidden;
        background-color: #fff;
        letter-spacing: .1rem;
        font-family:'Ubuntu', sans-serif, "MAZIUS REVIEW 20.09 Extra";
    }
    .cnt .cnt_info{
        position: relative;
        bottom: 14vh;
        left: 4vw;
        background-color: red;
        height: 40px;
        width: 110px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: none;
        font-size: .9rem;
        overflow: hidden;
        letter-spacing: .1rem;
        background-color: #fff;
        font-family:'Ubuntu', sans-serif, "MAZIUS REVIEW 20.09 Extra";
    }
    .cnt3 .cnt_info{
        position: relative;
        bottom: 12vh;
        left: 5vw;
        background-color: red;
        height: 30px;
        width: 110px; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: none;
        font-size: 1rem;
        overflow: hidden;
        letter-spacing: .1rem;
        background-color: #fff;
        font-family:'Ubuntu', sans-serif, "MAZIUS REVIEW 20.09 Extra";
    }
    .firstproject_left .js_photo{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .cnt_link{
        list-style: none;
        text-decoration: none;
    }
    #link_to_project_github .firstproject_right button,#link_to_project_github2 .firstproject_right button,#link_to_project_github3 .firstproject_right button,#link_to_project_github4 .firstproject_right button,#link_to_project_github5 .firstproject_right button{
        width: 30vw;
        font-size: 10px;
        padding: 0;
        letter-spacing: .1rem;
        font-weight: 500;
        height: 5vh;
    }
   /* Additional styles for smaller screens */
  }
  
  @media only screen and (max-width: 480px) {
    .developer h1 {
        width: auto;
        /* background-color: red; */
        font-size: 2.9rem;
        position: relative;
    }
    .weblogo {
        width: 17em; /* You can use any desired value and unit */
        height: 12em;
        z-index: 3;
        background-color: transparent;
        position: relative;
    }
    .mouse1{
        display: none;
    }
    #text1{
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'Sequel','Gilroy ☞','MAZIUS REVIEW 20.09 Extra',sans-serif;
        font-weight: 900;
    }
    #text2{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 900;
        font-family: 'Sequel','Gilroy ☞','MAZIUS REVIEW 20.09 Extra',sans-serif;
    }
    .developer{
        position: relative;
        top: -20vh;
    }
    
    .down i{
        font-size: .5rem;
    }
    .go_down .down{
        height: 30px;
        width: 30px;
    }
    .go_down .info{
        font-size: .7rem;
    }
    .link1 a{
        font-size: 8px;
        z-index: 4;
    }
    .weblogo{
        z-index: 2;
    }
    .go_down{
        width: 100%;
        justify-content: center;
        position: relative;
        top: 20vh;
        /* background-color: red; */
    }
    .pack , .pack1{
        display: block;
    }
    .pack .cnt,.pack1 .cnt3{
        height: 50vh;
        width: 80vw;
        margin: 2vh auto;
    }
    .pack .cnt2{
        height: 50vh;
        width: 80vw;
        margin: 0 auto;
    }
    #logo {
        width: 40px;
        height: 40px;
        line-height: 20px;
    }
    .fab{
        font-size: 1rem;
    }
    .first-line{
        font-size: 1.5rem;
    }
    .second-line{
        font-size: 2rem;
    }
    .footer__label{
        font-size: 1.5rem;
        position: relative;
        left: 1vw;
    }
    .copyright{
        font-size: .5rem;
    }
    .project_name{
        font-size: .7rem;
    }
    /* Additional styles for even smaller screens */
  }

.go_down{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    float: right;
    z-index: 20;
    padding-right: 3vw;   
    position: relative;
}
.down{
    background-color: #383838;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    transition: all ease;
    transition-duration: 4s;
    align-items: center;
    justify-content: center;
}
.go_down .down:hover{
    background-color: white;
    transition: color 2s ease;
    cursor: pointer;
}
.down i{
    color: #fff;
}
.go_down .down:hover i{
    color: #000;
    cursor: pointer;
    transition: color 2s ease;
}
#projects{
    display: none;
    width: 100vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#byebye{
    height: 200vh;
    width: 100vw;
}
.cnt{
    height: 104vh;
    width: 40%;
    border-radius: 50px;
    left: 6vw;
    cursor: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    overflow: hidden;
}
.cnt img{
    object-fit: fill;
    height: 110%;
    width: 108%;
}
.pack{
    overflow: hidden;
    height: 105vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20vw;
    position: relative;
    align-items: flex-end;
}
.skillstop h1{
    position: relative;
    left: 1vw;
}
.pack1{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 20vw;
    position: relative;
    align-items: flex-end;
}
.cnt2{
    width: 25%;
    height: 60vh;
    /* background-color: red; */
    overflow: hidden;
    border-radius: 50px;
    cursor: none;
    /* left: 6vw; */
    position: relative;
}
.cnt2 img{
    object-fit: fill;
    height: 120%;
    width: 108%;
}
.pack1 {
    
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    display: flex;
    justify-content: center;
}
.cnt3{
    margin-top: 10vh;
    overflow: hidden;
    border-radius: 50px;
    width: 35%;
    height: 90vh;
}
.cnt3 img{
    object-fit: fill;
    height: 110%;
    width: 108%;
    cursor: none;
}
.mouse{
    height: 40vh;
    border-radius: 10px;
    width: 20vw;
    opacity: 0;
    z-index: 88;
    top: 0;
    pointer-events: none;
    position: absolute;
    
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    left: 0;
    /* background-color: #14cf93; */
}
.mouse1{
    height: 40vh;
    border-radius: 10px;
    width: 20vw;
    opacity: 0;
    z-index: 88;
    top: 0;
    pointer-events: none;
    position: absolute;
    
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    left: 0;
    /* background-color: #14cf93; */
}
.mouse .magic_top{
    height: 15%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: .7vw;
}
.mouse1 .magic_top{
    height: 15%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: .7vw;
}
.mouse1 .magic_down{
    height: 40vh;
    width: 20vw;
    overflow: hidden;
}
.mouse1 .magic_down img{
    height: 35vh;
    border-radius: 5px;
    width: 20.1vw;
    position: absolute;
    object-fit: cover;
    animation: an 4s linear infinite;
}
.mouse1 .magic_down img:nth-child(2){
    animation-delay: 1s;
}
.mouse1 .magic_down img:nth-child(3){
    animation-delay: 2s;
}
.mouse1 .magic_down img:nth-child(4){
    animation-delay: 3s;
}
.mouse .magic_down{
    height: 40vh;
    width: 20vw;
    overflow: hidden;
}
.mouse .magic_down img{
    height: 35vh;
    border-radius: 5px;
    width: 20.1vw;
    position: absolute;
    object-fit: cover;
    animation: an 4s linear infinite;
}
.mouse .magic_down img:nth-child(2){
    animation-delay: 1s;
}
.mouse .magic_down img:nth-child(3){
    animation-delay: 2s;
}
.mouse .magic_down img:nth-child(4){
    animation-delay: 3s;
}
@keyframes an {
    0% {
        opacity: 1;
    }
    25%{
        opacity: 1;
    }
    26%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
.mouse .magic_top .magic1{
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50% ;
    margin-bottom: 20px;
}
.mouse .magic_top .magic2{
    margin-top: 2px;
    width: 30%;
    height: 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
}
.mouse .magic_top .magic2 span{
    font-weight: 100;
    font-size: .8rem;
}
.mouse1 .magic_top .magic1{
    width: 37px;
    height: 37px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50% ;
    margin-bottom: 20px;
}
.mouse1 .magic_top .magic2{
    margin-top: 2px;
    width: 30%;
    height: 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    text-align: center;
}
.mouse1 .magic_top .magic2 span{
    font-weight: 100;
    font-size: .8rem;
}
#profile{
    height: 0vh;
    width: 100vw;
    /* background-color: #14cf93; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.profiletop{
    display: flex;
    flex-wrap: wrap;
}
.abovetop p{font-family: 'Overpass', sans-serif;
}
.skills{
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.About{
    /* background-color: #14cf93; */
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.abovetop{
    position: relative;
    /* bottom: 8vh; */
}

.lang_icon{
    height:250px;
    width: 350px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "icon1 icon2 icon3 "
    "icon4 icon5 icon6 "
    "icon7 icon8 icon9 ";
    gap: 3vw;
    margin-inline: 20px;
    margin-top: 15px;
}
.icon1{
    background-image: url(JavaScript-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: icon1;
}
.icon2{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(React-icon.svg.png);
    background-position: center;
    grid-area: icon2;
}
.icon3{
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(Python-logo-notext.svg.png);
    background-position: center;
    grid-area: icon3;
}
.icon4{
    background-image: url(django.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: icon4;
}
.icon5{
    background-image: url(html.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: icon5;
}
.icon6{
    background-image: url(css.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: icon6;
}
.icon7{
    background-image: url(git.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: icon7;
}
.icon8{
    background-image: url(jquery.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: icon8;
}
.icon9{
    background-image: url(mysql.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-area: icon9;
}

.text_animate{
    width: 100vw;
}
.text_animate h1{
    white-space: nowrap;
    font-size: 20vh;
    font-family: 'Sequel',"Gilroy",'Bebas Neue', sans-serif;
    transition: all 30s ease infinite;
}
.text_animate2{
    height: 20vh;
    width: 100vw;
}
.text_animate2 h1{
    white-space: nowrap;
    color: #000;
    font-size: 10vh;
    font-family: 'Sequel','Gilroy';
    transition: all 30s ease infinite;
}
form{
    height: 50vh;
    width: 40vw;
    /* background-color: red; */
}
form h1{
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}
form .btn-submit{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2vh;
}
.btn-submit button{
    padding: 10px;
    border: none;
    color: #fff;
    border-radius: 3px;
    width: 14vw;
    background-color: #3b4aff;
    width: 100%;
    position: relative;
}
.paper {
    display: inline-block;
    opacity: 1;
    position: absolute;
    right: -20px;
    opacity: 0;
    color: #3b4aff;
    font-size: 2.3rem;
}
.btn-submit button:hover .paper{
    animation: flyPaper 5s ease-in ;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }
  @keyframes flyPaper {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg);
      }
      20% {
        transform: translateY(-100px) translateX(100px) rotate(-30deg);
      }
      30% {
        transform: translateY(-100px) translateX(100px) rotate(-60deg);
      }
      60% {
        transform: translateY(-200px) translateX(100px) rotate(-90deg);
      }
      80% {
        transform: translateY(-300px) translateX(100px) rotate(-120deg);
      }
      100% {
        transform: translateY(-400px) translateX(-100vw) rotate(-150deg);
      }
  }
#talk{
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    color: rgb(36, 36, 36);
    height: 0vh;
    background-color: #ffffff; 
}
form label , form input{
    display: block;
    margin:1.2vh auto;    
    width: 100%;
}
form textarea{
    width: 100%;
    height: 15vh;
}
#moreProjects{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    height: 0vh;
    overflow: hidden;
}
.add_projects_top{
    display: flex;
    align-items: center;
    height: auto;
    /* background-color: red; */
    padding: 1vw 2vw;
}
.add_projects_top h1{
    font-size: 3rem;
}
.add_projects_top i{
    position: relative;
    top: 1vh;
    right: 1vw;
}
.add_projects_bottom hr{
    border-top: 10px solid black bold;
}
.firstproject_left {
    position: relative;
    left: 1vw;
}
.firstproject_left img{
    height: 40px;
    width: auto;
}
.firstproject_left i{
    transition: all .2s ease-in;
    color: #000;
    position: relative;
    top: 1px;    
}
.js_photo{
    padding-left: 1.8vw;
    padding-right: 1vw;
}
.flex{
    height: 14vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* margin: 0 2vw; */
    transition: all .2s ease-in;
    margin-bottom: 1vh;
}
.firstproject{
    transition: all .4s ease-in;
}
.firstproject_right button{
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: .8rem;
    font-weight: 700;
    background-color: #fff;
    border: 2px solid black;
    letter-spacing: .1rem;
    position: relative;
    right: 1.5vw;
}
.firstproject:hover{
    background-color: black;
    color: white;
    cursor: none;
}
.firstproject:hover i{
    color: white;
}
.firstproject:hover .project_name{
    color: white;
}
.upperrotating_div{
    height: 80px;
    border-radius: 50%;
    width: 80px;
    opacity: 0;
    z-index: 6;
    top: 0;
    pointer-events: none;
    position: absolute;
    
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    left: 0;
}
.rotating-div p{
    color: #000;
}
.rotating-div {
    width: 100px;
    cursor: none;
    height: 100px;
    align-items: center;
    background-color: #fff;
    display: flex;
    opacity: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    border-radius: 50%; /* You can change the background color */
    justify-content: center;
    transform: rotate(0deg);
    animation: rotate 10s ease  infinite; /* Add animation name and duration */
}
#projectsList{
    height: 0;
    overflow: hidden;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.text {
    font-size: 12px; /* You can adjust the font size */
    padding: 5px;
    margin: 0;
    color: #fff; /* You can change the text color */
}


.first-line {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    letter-spacing: 2px; /* Adjust the letter spacing as needed */
}

.second-line {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    letter-spacing: 1px; /* Adjust the letter spacing as needed */
}
.social-icon{
    text-decoration: none;
    
}

.name{
    height: 100%;
}


.footer__social {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    
}

.social-icon img {
    width: 30px;
}





/* Your existing menu styles */
.footer__menu {
    list-style: none;
    margin: 0;
}

.footer__menu-item {
    margin-bottom: 8px;
}

.footer__menu-link {
    text-decoration: none;
    color: #ed2525;
}

/* Explicitly set styles for link hover state */
.footer__menu-link:hover {
    color: #ff6347; /* Change to your desired hover color */
}
.footer__social span{
    color: black;
}
.footer__label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    position: relative;
    left: 5px;
}
#removethis{
    list-style: none;
    text-decoration: none;
    color: black;
    transition: color .3s ease;
}
#removethis:hover{
    color: #818181;
}
footer::selection{
    background-color: white;
    color: red;
}
ul {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
}
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  ul li a:hover:before {
    top: 0;
  }
  
  ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  ul li:nth-child(2) a:before{
    background: #171515;
  }
  
  ul li:nth-child(3) a:before {
    background: #E1306C;
  }
  
  ul li:nth-child(4) a:before {
    background: #1DA1F2;
  }
.end{
    height: 0;
    background-color: #fffce1;
    width: 100vw;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    align-items: center;
    height: 50%;
    gap: 10vw;
}
.leftdiv{
    width: 50%;
}
.rightdiv{
    width: 40%;
    position: relative;
    bottom: 4vh;
    height: auto;
}
.copyright{
    text-align: center;
    position: relative;
    top: 5vh;
}

svg {
    height: 30px;
}

#svg-container {
    height: auto; /* Adjust the height as needed */
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: end;
    bottom: 10vh;    
}
#download-cv{
    height: 60px;
    width: 190px;
    border: none;
    border-radius: 30px;

    padding: 10px;
    z-index: 10;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #14cf93;
    position: relative;
    transition: all 2s ease;
}
#download-cv:hover{
    background-color: #14cf93;
    color: white;
}
.svg-wrapper {
    opacity: 1; /* Initially hidden */
    position: relative;
    right: 150px;
}


#link_to_project_github,#link_to_project_github2,#link_to_project_github3,#link_to_project_github4,#link_to_project_github5{
    list-style: none;
    cursor: none;
    text-decoration: none;
}
.firstproject span{
    cursor: none;
    color: #000;
    transition: all 1s ease;
}
.firstproject:hover span{
    color: white;
}
.cuberto{
    cursor: none;
}
.drop_down_menu li{
    list-style: none;
    padding: 10px;
    /* background-color: red; */
    transition: all 1s ease;
}
.drop_down_menu li:hover{
    color: #c2f0c1;

}
.link3{
    width: 46px;
}
.drop_down_menu {
    height: 0;
    overflow: hidden;
    position: relative;
    right: 22px;
    width: 100px;
    background-color: #e0f8e8;
    border-radius: 20px;
    color: #000;
    transition: all 0.5s ease;
}

.link3:hover .drop_down_menu {
    height: 200px; /* Adjust the height as needed */
    transition: all 0.5s ease;
}

.cnt_info{
    position: relative;
    bottom: 24vh;
    left: 3vw;
    background-color: red;
    height: 60px;
    width: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    font-size: 1.4rem;
    overflow: hidden;
    background-color: #fff;
    /* letter-spacing: .3rem; */
    font-family: 'Lato', sans-serif;
}
.cnt_link{
    list-style: none;
    text-decoration: none;
}
.salon_link{
    text-decoration: none;
}
.blog_link{
    text-decoration: none;
}